/* Mobile */
@media only screen and (max-width: 600px) {
  #nav,
  nav {
    width: 100%;
    display: flex;
    justify-content: center;

    ul {
      padding: 0;
      float: none;
    }

    li {
      font-size: 2rem;
      padding: 5px 10px;
    }
  }

  .triangle1 {
    width: 300px;
  }

  .triangle2 {
    width: 300px;
  }

  .firstname-wrapper {
    height: 70px;
  }

  .surname-wrapper {
    margin-top: -10px;
    height: 50px;
  }
}

/* Portrait tablets & large phones */
@media only screen and (min-width: 600px) {
  .triangle1 {
    width: 500px;
  }

  .triangle2 {
    width: 500px;
  }
}

/* Landscpae tablets */
@media only screen and (min-width: 768px) {
}

/* Desktops */
@media only screen and (min-width: 992px) {
}

/* Retina etc. */
@media only screen and (min-width: 1700px) {
  .triangle1 {
    width: 800px;
  }

  .triangle2 {
    width: 800px;
  }

  .firstname-wrapper {
    height: 230px;
  }

  .surname-wrapper {
    margin-top: -30px;
    height: 200px;
  }
}
