@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

.first-name {
  
}

.surname {
  font-family: 'Alfa Slab One', cursive;
  text-transform: uppercase;
  font-size: 10rem;
  background: linear-gradient(to top,  #180d44 0%,#ff23d8 29%,#220e49 29%,#270f4b 30%,#2f1050 35%,#93edff 36%,#7c1d76 50%,#c73fbe 53%,#7f1d77 53%,#8a1f7d 60%,#180d44 67%,#93edff 72%,#180d44 72%,#180d44 86%,#93edff 86%,#180d44 87%,#180d44 100%);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
