@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Rubik+Mono+One');


.firstname {
  fill: rgb(255,72,196);
  stroke: rgb(153, 8, 107);
  stroke-width: 1;
  stroke-linecap: round;
  //animation: writing 5s linear infinite;
}
.surname {
  font-family: 'Rubik Mono One', sans-serif;
}
