$grid-color: 	rgb(23, 151, 147);
$grid-color-fade: 	rgba(23, 151, 147, 0.2);

$sky-color1: rgb(85, 23, 89);

$fade-color: rgb(232, 112, 238);

$scanline-color1: 	rgba(#000, 0.2);

$grid-height: 40vw;

/* Moon */
$moon-size: 40vh;
$moon-color-1: rgb(255, 204, 0);
$moon-color-2: rgb(209, 120, 3);
$moon-color-3: rgb(255, 153, 0);

$blur-strength: 5;
